<br><br>
<div class="form-group">
    <form action="#" method="post">
        <hr>
        {{ monkey.blurb }}
        <div class="form-group">
            <label for="response"><h4>Responses : {{ monkey.optionType }}</h4></label>
                    
            <input *ngIf='monkey.optionType == "textinput"' type='text' placeholder='name' 
                    class='form-control' id='text_response' [(ngModel)]='monkey.responses[0]' 
                    name='text_response'>

            <select *ngIf='monkey.optionType == "dropdown"' class='form-control' 
                    id='drop_responses' [(ngModel)]='monkey.responses[0]' name='drop_responses' >
                <option *ngFor='let o of monkey.options' [value]='o'>{{o}}</option>
            </select>
            
            <div *ngIf='monkey.optionType == "radio"'>
                <div *ngFor='let o of monkey.options'>
                    <input type='radio' id='radio_responses' name='radio_responses' 
                        [(ngModel)]='monkey.responses[0]' [value]='o'> {{o}}<br>
                </div>
            </div>

        </div>
        <br>
        <button (click)="monkeyClicked()" class="btn btn-info">{{ monkey.submit }}</button>
        <hr>
    </form>
    <div *ngIf="_test.testing | async" >
        <br>
        <hr>
        <h5>
            <p>
            currentMonkey!<br>
            {{ getTestingMonkey() }}
            <br>
            </p>
            <p>
            Barrel of monkeys<br>
            {{ this._bomService.testJBom() }}
            </p>
        </h5>
        <hr>
    </div>
</div>
<br><br>


    <!--
    key: string, // How the monkey is summoned from the barrel
	blurb: string, // What the monkey says.  Ususally a 1-2 sentence solicitation.
	optionType: string, // What kind of responses the monkey offers
	options: Array<string>,  // The responses the monkey offers
    leader?: string // Key of the monkey that called this monkey out of the barrel.  If null this is the first monkey.
	followers: Array<string>, // The monkey or monkeys that comes after this monkey.  If null, you are done!
    submit: string,  // label of the submit button
    hat: string // A general description of the monkey's head covering (all monkeys wear hats).
    -->