  <div><h1>{{title}}</h1></div> 
  <div class='nav-bar'> 
    <h3>
      Nav Bar:  
      <button id="btnLogout" class="my_btn btn btn-secondary" (click)="logout()">Log Out</button>
      <button id="btnTesting" class="my_btn btn btn-secondary" (click)="_test.switchTesting()">Testing: {{ _test.testing | async}}</button>
      <button id="btnTesting" class="my_btn btn btn-secondary" (click)="_as.createUserinDB(testuser)">createUser()</button>      
    </h3>
  </div>
  <h1>
 <router-outlet></router-outlet>
  </h1>
