<div class="col-md-offset-3 col-md-6 login-panel ">  

    <form *ngIf="!signingup" name="form" (ngSubmit)="f.form.valid && loginWithEmail()" #f="ngForm" novalidate>
    
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #username="ngModel" required placeholder="email@example.com"/>
            <!--<div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            Please enter a valid email address
            </div>-->
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required placeholder="password"/>
            <!--<div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>-->
            <!--<div [hidden]="password.valid || password.pristine" class="alert alert-danger">
            Password is required
            </div>-->
        </div>
        
        <div class="form-group">
            <button [disabled]="loading" id="btnLogin" class="btn btn-primary">Login</button>
            <img *ngIf="loading" src={{_hub.loadingAnimationUrl}} />
            <button id="btnLogout" class="my_btn btn btn-action" *ngIf="isLoggedIn === true" (click)="logout()">Log Out</button>
            <a (click)="_as.resetPassword()" class="btn btn-link">Reset Password</a>   
            <a (click)="switchSigningup()" class="btn btn-link">Sign up</a>    
             
               
        </div>

        
    </form>

    <form *ngIf="signingup" name="form" (ngSubmit)="g.form.valid && signUpWithEmail()" #g="ngForm" novalidate>  
        <div class="form-group" [ngClass]="{ 'has-error': g.submitted && !displayname.valid }">
            <label for="email">Name</label>
            <input type="text" class="form-control" name="displayName" [(ngModel)]="model.displayName" #displayname="ngModel" required placeholder="John Smith"/>
            <!--<div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            Please enter a valid email address
            </div>-->
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': g.submitted && !email.valid }">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required placeholder="email@example.com"/>
            <!--<div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            Please enter a valid email address
            </div>-->
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': g.submitted }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required placeholder="password"/>
            <!--<div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>-->
            <!--<div [hidden]="password.valid || password.pristine" class="alert alert-danger">
            Password is required
            </div>-->
        </div>
        
        <div class="form-group">
            <button [disabled]="loading" id="btnSignUp" class="btn btn-primary">Sign Up</button>
            <img *ngIf="loading" src=_hub.loadingAnimationUrl />
        </div>
    </form>
    <br>
    <a class="btn btn-block btn-social btn-facebook" (click)="loginWithFacebook()" >
        <span class="fa fa-facebook"></span> Sign in with Facebook </a>

    <a class="my_btn btn btn-block btn-social btn-google" (click)="loginWithGoogle()" >
        <span class="fa fa-google"></span> Sign in with Google </a>
</div>
<div *ngIf="(_test.testing | async)" class='col-md-offset-3 col-md-6 testingBox'>
    <br>
    <hr>
    <button id="btnTester" class="my_btn btn btn-secondary" (click)="loginTester()">Tester</button>
    <button id="btnTester" class="my_btn btn btn-secondary" (click)="logout()">Reset</button>
    <div *ngIf="(_as.getIsLoggedIn$() | async)">
        You are logged in.
        current user:  {{ userJson() }} 
    </div>
    <div *ngIf="!(_as.getIsLoggedIn$() | async)">
        No user.  Not logged in.
    </div>   
    isLoggedIn$ = {{ isLoggedIn }}<br>
    signingup = {{ signingup }}           
    <hr>
</div>